@font-face {
    font-family: brand;
    src: url(./8186twklausanne.ttf);
    font-weight: 500;
}
@font-face {
    font-family: brand1;
    src: url(./6035twklausanne.woff2);
    font-weight: 900;
}
@font-face {
    font-family: brand2;
    src: url(./3856NeueMachina.ttf);
    font-weight: 100;
}
@font-face {
    font-family: brand3;
    src: url(./3856NeueMachina.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}
body{
    background-color: #F1EEE4;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #dadada;
    background-image: url(https://images.unsplash.com/photo-1607190074257-dd4b7af0309f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    padding-top: 3vw;
    padding-left: 3vw;
    padding-bottom: 55vh;
    background-position: 50% 20%;
}
.page1-text{
    overflow: hidden;
    height: fit-content;
}
.page1-text h1{
    font-size: 18vw;
    letter-spacing: -10px;
    line-height: 16vw;
    color: #ffffff;
    mix-blend-mode: exclusion;
    font-family: brand;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.page1-text h1 span{
    display: inline-block;
}
nav svg {
    height: 2.5vw;
    /* color: black; */
    mix-blend-mode: difference;
    fill: white;
    z-index: 999 !important;
}
nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 1vw;
    position: fixed;
    z-index: 9;
    mix-blend-mode: difference;
    width: 100%;
}
.nav-part2{
    width: 8%; 
}
.nav-part2 h3{
    font-family: brand;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-size: 1.2vw;
    font-weight: 300;
    cursor: pointer;
    mix-blend-mode: difference;
    color: white;
  
}
.cursor{
    height: 20px;
    width: 20px;
    position:fixed;
    border-radius: 50px;
    background-color: #bedf03;
    z-index: 99;
    /* padding: 5px; */
    white-space: nowrap;
    overflow: hidden;
}
.cursor h5{
text-transform: uppercase;
display: inline-block;
animation-name: cursor-move;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 1s;
font-family: brand;
}
@keyframes cursor-move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.middle-text{
    color: white;
    font-family: brand;
    padding: 5vw;
}
.middle-text h1{
    width: 75%; 
    font-size: 3vw;
    line-height: 9vh;
    margin-top: 2vw;
    letter-spacing: 2px;
    font-family: brand1;
    text-transform: capitalize;
    /* word-spacing: 5px !important; */
}
.middle-text p{
    font-size: 1.2vw;
    color: #cdf002;
    font-weight: 700;
}
.middle-text h1 span{
    display: inline-block;
}
.middle-text button{
    margin-top: 3vw;
    padding: 15px 60px;
    border-radius: 25px;
    font-size: 1vw;
    font-family: brand1;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.middle-text button:hover {
    background-color: #bedf03;
    scale: 1.1;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: black;
}
#page3>h1{
    text-align: center;
    color: white;
    font-family: brand;
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 7vw;
}
#string{
    padding-bottom: 1vw;
    margin-left: 3vw;
}
#container{
  display: flex;
  flex-wrap: wrap;
  padding: 10vh 12vw;
  justify-content: space-between;
  gap: 4vw;
}
.card{
    height: 100vh;
    width: 45%;
    color: white;
    font-family: brand2;
    overflow: hidden;
}
.card .image-div{
    height: 80%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}
.card img:hover {
    scale: 1.15;
}
.card video:hover {
    scale: 1.15;
}
.card video{
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.5s;
    object-fit: cover;
}
.card h2{
    font-size: 1.5vw;
    margin-top: 1vh;
}
.card p{
    font-size: 0.8vw;
    color: #dadada;
    margin-top: 5px;
}
.para{
    display: flex;
align-items: center;
justify-content: space-between;
padding: 0 3vw;
}

.para button{
    padding: 15px 60px;
    border-radius: 25px;
    font-size: 1vw;
    font-family: brand1;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.para button:hover {
    background-color: #bedf03;
    scale: 1.1;
}
.para p{
  color: white;
  width: 40%;
  font-family: brand;
  font-size: 2vw;
  letter-spacing: 0.5px;
}
#page4{
    min-height: 100vh;
    width: 100%;
    padding: 14vh 0vw 14vh 12vw;
    position: relative;
    /* background-color: red; */
}
#page4>h1{
    font-size: 7.5vw;
    font-family: brand;
    line-height: 7.2vw;
    text-align: center;
    font-weight:500;
}
#element-container{
    margin-top: 7vw;
    position: relative;
}
.element{
    /* background-color: red; */
    padding: 6vh 0;
    border-top: 1px solid #000000;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    z-index: 9;
    position: absolute;
    top: 0;
}
.element h2{
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: brand;
    font-weight: 100;
}
#moving-image{
    height: 26vw;
    width: 20vw;
    position: absolute;
    opacity: 0;
    z-index: 8;
    transform: translate(-50%,-50%);
}

#moving-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page5{
   min-height: 65vh;
    width: 100%;    
}
#page5>h1{
   font-size: 12vw;
   text-align: center;
   font-family: brand;
   padding-top: 10vw;
}
#logoos{
 display: flex;
 gap: 13.5vw;
 padding-top: 6vw;
}
#logoos img{
    height: 3.5vw;
}
#logo-div{
    padding: 5vw 12vw;
    padding-bottom: 25vw;
}
#page5 h2{
    font-size: 12vw;
    font-family: brand;
    text-align: center;
}
#page6{
    min-height: 100vh;
    font-family: brand;
    position: relative;
    width: 100%;
}
#page6 #pink-wala-div{
    height: 70vh;
    margin-top: 3vw;
    width: 100%;
    border-top: 1px solid gray;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0vw 0px 10vw;
    gap: 10vw;
    
}
#pink-ka-left-div h3 span{
     padding: .6vw .8vw;
     border-radius: 25px;
     border: 1px solid gray;
}
#pink-ka-left-div h3{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#pink-ka-left-div h2{
    font-size: 4vw;
    line-height: 9vh;
    margin-top: 5vw;
}
#pink-ka-left-div h4{
    margin-top: 3vw;
    font-size: 1.5vw;
}
#pink-ka-right-div p{
    font-size: 1.5vw;
    width: 80%;
    line-height: 5vh;
}
#line-wala-effect img{
    height: 5vw;
}
#line-wala-effect{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #D9FF06;
    padding: 5vw 0px;
    white-space: nowrap;
    overflow: hidden;
 
}

#line-wala-effect h1{
    font-family: brand3;
    font-size: 5vw;

}
#hello{
    display: flex;
    gap: 5vw;}
#page7{
    min-height: 50vh;
    width: 100%;
    background-color: #000000;
    color: white;
}
#footer-upper{
    height: 60vh;
    width: 100%;
    font-family: brand;
    padding: 10vw 5vw;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#footer-upper-first{
    display: flex;
    gap: 5vw;
}
#follow-us{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#follow-us h1{
color: #D9FF06;
}
#follow-us h2{
    font-size: 1.2vw;
    margin-top: 1vw;
}
#navigation{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
#navigation h1{
    color: #D9FF06;
}
#navigation h2{
margin-top: 1vw;
}
#footer-upper-second h1{
 font-size: 3vw;
 margin-bottom: 1.5vw;
 border-bottom: 1px solid rgb(255, 255, 255);
}
footer{
    display: flex;
    padding: 5vw 5vw ;
    font-family: brand;
    align-items: center;
    justify-content: space-between;
}
footer h1 {
    text-align: center;
}
footer span{
 border-bottom: 1px solid white;
 
}
#ghumne-wali-image{
    height: 26vw;
    width: 20vw;
    position: absolute;
    opacity: 0;
    z-index: 8;
    transform: translate(-50%,-50%);
}
#ghumne-wali-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Example of a media query for smaller screens */
@media (max-width: 768px) {
    nav svg {
        height: 12vw;
    }
    #page1{
    min-height: 70vh;
    }
    .page1-text h1 {
        font-size: 17vw; /* Adjust font size for smaller screens */
        line-height: 15vw;
        letter-spacing: 0vw;
        bottom: 0;
    }

    .main-text{
        position: absolute;
        bottom: 5vw;
    }
    .middle-text h1 {
        font-size: 5vw; /* Adjust font size for smaller screens */
    }
    #page2{
        border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    }
    .middle-text h1{
        width: 100%; 
        font-size: 8vw;
        line-height: 5.3vh;
    }
    .middle-text p{
        font-size: 6vw;
        margin: 2vh 0vh 4vh 0vh;
    }
    .middle-text button{
        margin-top: 6vw;
        padding: 12px 45px;
        font-size: 4vw;
        font-weight: 700;
    }
    #string svg{
        width: 100%;
        margin-left: 0;
        padding: 0; 
    }
    #page3{
        min-height: 100vh;
        width: 100%;
        background-color: black;
    }
    #page3>h1{
        font-size: 16vw;
        line-height: 14vw;
    }

    .card {
        width: 100%; /* Make cards full width on smaller screens */
    }
    .card h2{
        font-size: 6vw;
        font-weight: 100;
    }
    .card p{
        font-size: 4vw;
    }
    .para{
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10vw;
    gap: 5vw;
    }
    
    .para button{
        font-size: 4vw;
        margin-top: 5vw;
    }
    .para p{
      font-family: brand1;
      width: 100%;
      font-size: 8vw;
    }
    #page4{
        padding: 10vw 0 0 2vw;
        min-height: 70vh;
    }
    #page4>h1{
        font-size: 13vw;
        line-height: 10vw;
    }
    .element h2{
        font-size: 6vw;
    }
    #logoos{
        display: flex;
        gap: 6vw;
       }
       #logoos img{
           height: 6vw;
       }
       #logo-div{
        flex-direction: column;
         padding-bottom: 15vw;
       }
       #line-wala-effect{
        
       }
       #page6 #pink-wala-div{
        flex-direction: column;
        height: 70vh;
        margin-top: 3vw;
        width: 100%;
        border-top: 1px solid gray;
        /* background-color: red; */
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        padding: 0px 0vw 0px 10vw;
        gap: 2vw;
        
    }
       #pink-ka-left-div h3 span{
        padding: 2vw 4vw;
        border-radius: 25px;
        border: 1px solid gray;
   }
   #pink-ka-left-div h3{
       display: flex;
       margin-top: 2vw;
       align-items: center;
       gap: 3vw;
   }
   #pink-ka-left-div h2{
       font-size: 6vw;
       font-family: brand1;
       line-height: 4vh;
   }
   #pink-ka-left-div h4{
       margin-top: 1vw;
       font-size: 4vw;
       opacity: 0.8;
   }
   #pink-ka-right-div p{
       font-size: 6vw;
       font-family: brand1;
       width: 100%;
       margin-top: 3vw;
       line-height: 4vh;
   }
   .nav-part2{
display: none;
   }
    #footer-upper {
        flex-direction: column; /* Stack footer elements vertically */
        align-items: center; /* Center align the items */
        text-align: center; /* Center text alignment */
        padding: 5vw 2vw; /* Adjust padding for better spacing */
    }
    #ghumne-wali-image {
    display: none;
    }

    footer h1 {
        margin-bottom: 2vw;
        font-size: 2.5vw; /* Add some space between footer items */
    }

    footer span {
        display: block; /* Ensure the span is on a new line */
        margin-top: 0vw; /* Add some space above the span */
    }
    #page7{
        min-height: 50vh;
        width: 100%;
        background-color: #000000;
        color: white;
    }
    #footer-upper{
        height: 50vh;
        width: 100%;
        font-family: brand;
        padding: 10vw 5vw;
        align-items: start;
        justify-content: space-between;
        display: flex;
    }
    #footer-upper-first{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #follow-us{
        gap: 2vw;
        align-items: flex-start;
    }
    #follow-us h1{
    color: #D9FF06;
    font-size: 5vw;
    }
    #follow-us h2{
        font-size: 4vw;
        margin-top: 1vw;
    }
    #navigation{
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
    }
    #navigation h1{
        color: #D9FF06;
        font-size: 5vw;
    }
    #navigation h2{
    margin-top: 1vw;
    font-size: 4vw;
    }
    #footer-upper-second h1{
     font-size: 6vw;
     margin-bottom: 1.5vw;
     border-bottom: 1px solid rgb(255, 255, 255);
    }
    footer{
        display: flex;
        padding: 5vw 5vw ;
        font-family: brand;
        align-items: center;
        justify-content: space-between;
    }
    footer h1 {
        text-align: center;
        font-size: 3vw;
    }
    footer span{
     border-bottom: 1px solid white;
     
    }
}
